@import "functions";
@import "colors";

a {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.dragables {
  div {
    padding-bottom: 40px;
    height: 400px;
    margin: 0 10px;
  }

  span {
    cursor: grab;
    cursor: -webkit-grab;
  }

  #left {
    font-size: 2em;
    background: rgba(0,0,0,0.1);
  }

  #right {
    font-size: 1em;
    background: rgba(0,0,0,0.1);

    span {
      margin-top: 5px;
      display: inline-block;
      padding: 5px;
      background-color: #f1f1f1;
      border: 1px solid $primary-color-red;
      margin-right: 100px;
    }
  }
}

.scrambled {
  height: 2em;
}

@media only screen and (min-width: 993px){
  .container {
      width: 85%;
  }
}

@media only screen and (min-width: 601px){
  .container {
      width: 85%;
  }
}
